@charset "ISO-8859-1";


body{
	background-color:pink;
	border: 2px solid green;	
}

input{
	font-size:20px;
	border-style: double;
}

p{
	color:blue;
	font-size:30px;
	text-align:center;
	
}

